<div class="container">
    <h1>Login</h1>
    <form name="loginForm" novalidate>
        <input type="text" required
               class="form-control"
               placeholder="username"
               ng-model="username"/>
        <input type="password" required
               class="form-control"
               placeholder="password"
               ng-model="password"/>
        <span ng-show="model.hasError" class="help-block has-error">The user name and password is incorrect</span>
        <button class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid"
           ng-href="" ng-click="model.login(username, password)">Login</button>
        <a class="btn btn-success btn-block"
           ng-href="#!/register">Register</a>
    </form>
</div>