input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 51px;
    padding-bottom: 51px;
}

.spread {
    width: 100%;
}

.navy-color {
    background-color: navy;
}

.navy-color a {
    color: white !important;
}

.grey-color {
    background-color: #f5f5f5;
}

.grey-color a {
    color: gray; !important;
}

.navbar.navbar-default.navbar-fixed-bottom {
    max-height: 40px;
}

@media (min-width: 350px) {
    .navbar-header b {
        font-size: 150%;
    }
    .glyphicon {
        padding-right: 10px; !important;
    }
}

/*@media (max-width: 350px) {*/
    /*.navbar-header b {*/
        /*font-size: 90%;*/
    /*}*/
/*}*/




.navy-color .back-arrow {
    color: white;
}

.container .table td {
    border: none;
}

.attach-editor {
    position: relative;
}

.attach-editor .content {
    margin-bottom: 20px;
}

.content .embed-responsive {
    max-height: 100px;
}

.attach-editor .tool {
    position: absolute;
    top: 0;
    right: 0;
}

.attach-editor .tool .glyphicon {
    padding-right: 0;
}

.attach-editor .tool .glyphicon-align-justify {
    color: black;
}

.link-color {
    color: #337ab7;
}