input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 51px;
    padding-bottom: 51px;
}

.spread {
    width: 100%;
}

.navy-color {
    background-color: navy;
}

.navy-color .navbar-brand {
    color: white; !important;
}

.navy-color a {
    color: white;
}

.navbar.navbar-default.navbar-fixed-bottom {
    max-height: 40px;
}

.navbar-header b {
    font-size: 150%;
}

.back-arrow {
    padding-right: 20px;
}