<nav class="navbar navbar-default navbar-fixed-top grey-color">
    <div class="container">
        <div class="navbar-header container">
            <a ng-href="{{model.currentUrl + '/../'}}" class="navbar-brand">
                <span class="glyphicon glyphicon-chevron-left back-arrow"></span>
            </a>
            <a class="navbar-brand" href="">
                <b class="">Choose Widget</b>
            </a>
            <p class="navbar-text pull-right">
            </p>
        </div>
    </div>
</nav>
<div class="container">
</div>

<nav class="navbar navbar-default navbar-fixed-bottom grey-color">
    <div class="container">
        <div class="row navbar-right navbar-text container">
            <div class="">
                <a ng-href="{{'#!/user/' + model.userId}}">
                    <span class="glyphicon glyphicon-user link-color pull-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
