<nav class="navbar navbar-default navbar-fixed-top navy-color">
    <div class="container">
        <div class="navbar-header col-sm-4 hidden-xs">
            <a ng-href="{{model.baseUrl}}" class="navbar-brand">
                <span class="glyphicon glyphicon-chevron-left back-arrow"></span>
            </a>

            <a class="navbar-brand" ng-href="">
                <strong class="">Websites</strong>
            </a>
            <p class="navbar-text pull-right">
                <a ng-href="{{model.baseUrl + '/new'}}" class="">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
        <div class="navbar-header col-sm-8">
            <a ng-href="{{model.baseUrl}}" class="navbar-brand visible-xs">
                <span class="glyphicon glyphicon-chevron-left back-arrow"></span>
            </a>
            <a class="navbar-brand" ng-href="">
                <b class="">New Website</b>
            </a>
            <p class="navbar-text pull-right">
                <a ng-href="" class="" ng-click="model.createItem(model.newItem)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <div class="col-sm-4 hidden-xs">
        <table class="table">
            <tbody>
            <tr ng-repeat="website in model.list">
                <td class="">
                    <a ng-href="{{model.baseUrl + '/' + website._id}}">
                        {{website.name}}
                    </a>
                    <a ng-href="{{model.baseUrl + '/' + website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-8 container">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="input name"
                   ng-model="model.newItem.name"/>
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <textarea class="form-control" id="describe" ng-model="model.newItem.description"
                      placeholder="Description" rows="5"></textarea>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navy-color">
    <div class="container">
        <div class="row navbar-right navbar-text container">
            <div class="">
                <a ng-href="{{'#!/user/' + model.userId}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>