<form id="myForm" name="myForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name"
               id="name" ng-model="model.item.name" required/>
        <div class="alert alert-danger" ng-show="myForm.name.$invalid">
            name is required
        </div>
    </div>
    <div class="form-group">
        <label for="rows">Rows</label>
        <input ng-model="model.item.rows" class="form-control" type="number" id="rows"/>
    </div>
    <div class="form-group">
        <label for="placeholder">Placeholder</label>
        <input ng-model="model.item.placeholder" class="form-control" id="placeholder"/>
    </div>
    <div class="form-group">
        <label for="formatted">Formatted</label>
        <input ng-model="model.item.formatted" type="checkbox" id="formatted"/>
    </div>
    <button class="btn btn-block btn-primary"
            ng-click="model.submit(model.item)"
            ng-disabled="myForm.$invalid">
        Ok
    </button>
    <a href="" class="btn btn-block btn-danger" ng-click="model.deleteItem(model.item)">Delete</a>
</form>